:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --default-color: #403c3a;
  --default-gray: #f0f0f0;
  --default-font: #919191;
  --default-white: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header{
  padding-top: 20px;
  width: 100%;
  height: 200px;
  background-color: var(--default-gray);
}

.container {
  width: calc(100dvw - 8%);
  height: 100%;
  margin: 0 auto;
}

.header-main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu-container {
  margin: 0 auto;
}
.menu-options.active {
  display: none;
}

.menu-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 12px 10px;
  font-size: 16px;
  border: 2px solid var(--default-color);
  border-radius: 5px;
  background-color: var(--default-gray);
}

.menu-options{
  display: flex;
  list-style: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
  flex-direction: column;
  align-items: flex-start;
  transition: all .5s ease-in-out;
}

.menu-options li{
  padding: 6px 12px;
  border-radius: 6px;
}

.menu-options li:hover {
  background-color: var(--default-color);
  color: var(--default-white);
}

.menu-btn:hover {
  background-color: var(--default-color);
  color: var(--default-white);
}

.menu-btn i{
  font-size: 18px;
  margin-right: 12px;
} 

.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
  gap: 10px;
  margin-top: 10px;
}

.social-links a {
  text-decoration: none;
  color: var(--default-font);
  font-size: 18px;
}

.social-links a:hover {
  color: var(--default-color);
}

.post-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.post-section h2{
  color: var(--default-color);
  margin-bottom: 10px;
}

.post-section span{
  color: var(--default-font);
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.post-section p {
  color: var(--default-font);
  font-size: 14px;
  margin-bottom: 10px;
}

.modal-content {
  display: none;
  z-index: -1;
  opacity: 0;
}

.modal-content.active {
  display: block;
  width: 100%;
  z-index: 999;
  opacity: 1;
  margin: 0 auto;
}

.modal-search {
  display: none;
  z-index: -1;
  opacity: 0;
}

.modal-search.active {
  display: block;
  width: 100%;
  z-index: 999;
  opacity: 1;
  margin: 0 auto;
}
form {
  margin: 0;
}


@media screen and (max-width: 359px) {
  body {
      display: none;
  }
}

@media screen and (min-width: 360px) and (max-width: 640px) {
  .container {
      max-width: calc(100dvw - 10%);
      height: 100%;
  }

  .menu-container{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
  }

  header {
      width: 100%;
      height: 100%;
      background-color: var(--default-gray);
      margin-bottom: 20px;
  }
  .header-main {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .header-main h1{
      margin-bottom: 20px;
  }

  .post-section {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 30px;
  }
  table {
      width: 100%;
      height: inherit;
      border-collapse: collapse;
  }

  tbody {
      width: 100%;
      height: inherit;
  }

  table tbody tr td {
      display: flex;
      width: 100%;
      height: inherit;
      margin-bottom: 10px;
  }

  .post_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 24px;
    font-weight: bold;
  }

  .post_header i {
    font-size: 18px;
  }
  
  .post_header i:hover {
    color: red;
    transition: all .5s linear;
  }

  .post_date {
      font-size: 12px;
      font-weight: bold;
      color: var(--default-font);
      text-transform: uppercase;
  }

  .post_content {
      font-size: 14px;
      color: var(--default-font);
  }

  form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
      background-color: var(--default-gray);
      transition: all 1s ease-in-out;
  }

  form h3{
      margin-bottom: 20px;
  }

  form label {
      width: 100%;
      height: 100%;
      color: var(--default-color);
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: bold;
  }

  form input{
      width: 100%;
      height: 40px;
      padding: 0 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      outline: none;
  }

  form textarea{
      width: 100%;
      height: 100px;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      outline: none;
      resize: none;
  }

  form .close-panel{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 10px;
      font-size: 16px;
      color: var(--default-font);
  }

  form .close-panel i{
      cursor: pointer;
  }

  form .close-panel i:hover{
      color: var(--default-color);
  }

  .menu-options {
      display: none;
  }
  
  .menu-options.active {
      display: flex;
      list-style: none;
      position: relative;
      top: auto;
      right: auto;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      gap: 6px;
      cursor: pointer;
      font-weight: bold;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

  .menu-options li{
      text-align: center;
      font-size: 1rem;
      width: 100%;
      height: 100%;
  }

  .menu-options li:hover {
      background-color: var(--default-color);
      color: var(--default-white);
  }
  
  .menu-container {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  
  .menu-btn {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      padding: 12px 20px;
      font-size: 16px;
      border: 2px solid var(--default-color);
      border-radius: 5px;
      background-color: var(--default-gray);
  }
  
  .menu-btn:hover {
      background-color: var(--default-color);
      color: var(--default-white);
  }
  
  .menu-btn i{
      font-size: 18px;
      margin-right: 16px;
  }    

  .social-links i{
      font-size: 1.4rem;
  }
};
